<div class="books-container">
  <% books.each do |book| %>
    <div class="book-item" id="book-<%= book.id %>">
      <div class="book-image">
        <% if book.image_url.present? %>
          <img src="<%= book.image_url %>" alt="<%= book.name %>" class="img-thumbnail">
        <% else %>
          <span class="no-image">No Image</span>
        <% end %>
      </div>
      <div class="book-info">
        <h3 class="book-name"><%= link_to book.name, book_path(book) %></h3>
        <p class="book-author"><strong>Author:</strong> <%= book.author_name %></p>
        <p class="book-status">
          <% unless book.available %>
            <span class="text-danger">Out (Taken by <%= book.histories.last.user.username %>)</span>
          <% else %>
            <span class="text-success">In</span>
          <% end %>
        </p>
        <div class="book-actions">
          <%= button_to 'Edit', edit_book_path(book), method: :get, class: 'btn btn-warning btn-sm' %>
          <%= form_with url: book_path(book), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'delete-form' do %>
            <%= submit_tag 'Delete', class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @books %>