<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments" type="button" role="tab" aria-controls="comments" aria-selected="false">Comments</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab" aria-controls="history" aria-selected="false">History</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="card-info mt-3">
      <%= render partial: "layouts/rating", local: { book: @book } %>
      <h6 class="card-subtitle mb-2 text-muted"><%= @book.author_name %></h6>
      <p class="card-text card-description"><%= @book.description %></p>
      <p class="card-text">Status: <%= @book.available %></p>
      <%= render partial: "layouts/likes", locals: { book: @book } %>
    </div>
  </div>
<div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">

    <div class="comment-form mt-4">
      <%= render partial: 'comments/form', locals:{ book: @book } %>
    </div>
    <%= render @book.comments %>

  </div>
  <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
    <%= render partial: 'books/history', locals:{ book: @book } %>
  </div>
</div>
