<div class="card-wrapper">
  <% if @book.image.present? %>
    <aside class="card-aside">
      <div class="book-image mt-3">
        <%= image_tag @book.image.url, alt: @book.name, class: "img-thumbnail" %>
      </div>
      <%= book_action_helper(@book, current_user) %>
    </aside>
  <% end %>
  <div class="card-main">
    <button class="modal-btn modal-btn-open btn btn-danger btn-lg">Delete category</button>
    <%= render partial: "rating_modal" %>
    <h2> <%= @book.name %></h2>
    <p class="average-rating">
      <%= @book.average_rating.round(2) %>
    </p>
    <%= render partial: "layouts/rating", locals: { book: @book }%>
    <div class="card-info">
      <div class="card-tabs">
        <%= render partial: "tabs", locals: { book: @book }%>
      </div>
    </div>
  </div>
</div>
