<div class="card-wrapper">
  <% if @book.image.present? %>
    <aside
      class="card-aside bg-image"
    >
      <div class="aside-bg-image bg-image w-100" style="<%= "background-image: url('#{@book.image.url}');" %>">
        <div class="book-image mt-3">
          <%= image_tag @book.image.url, alt: @book.name, class: "img-thumbnail" %>
        </div>
        <%= book_action_helper(@book, current_user) %>
      </div>
    </aside>
  <% end %>
  <div class="card-main">
    <%= render partial: "rating_modal", locals: { book: @book } %>
    <div class="card-top d-flex align-items-center">
      <h2> <%= @book.name %></h2>
      <div class="rating-info">
        <div class="modal-btn modal-btn-open btn">
          <span class="rating-star">☆</span>
          <span class="rating-average">
          <%= @book.average_rating.round(2) %>
        </span>
          <span class="rating-votes text-muted">
          <%= number_to_human(@book.ratings.size, format: "%n%u", units: { thousand: 'K', million: 'M' }) %>
        </span>
        </div>
      </div>
      <%= book_bookmark_helper(@book, current_user) %>
    </div>
    <div class="card-info">
      <div class="card-tabs">
        <%= render partial: "tabs", locals: { book: @book }%>
      </div>
    </div>
  </div>
</div>
