<div class="card-wrapper">
  <% if @book.image.present? %>
    <aside class="card-aside">
      <div class="book-image mt-3">
        <%= image_tag @book.image.url, alt: @book.name, class: "img-thumbnail" %>
      </div>
      <%= book_action_helper(@book, current_user) %>
    </aside>
  <% end %>
  <div class="card-main">
    <%= render partial: "rating_modal", locals: { book: @book } %>
    <h2> <%= @book.name %></h2>
    <div class="rating-info">
      <div class="modal-btn modal-btn-open btn">
        <span class="rating-star">☆</span>
        <span class="rating-average">
          <%= @book.average_rating.round(2) %>
        </span>
        <span class="rating-votes text-muted">
          <%= number_to_human(@book.ratings.size, format: "%n%u", units: { thousand: 'K', million: 'M' }) %>
        </span>
      </div>
    </div>
    <% if current_user.bookmarks.exists?(book: @book) %>
      <%= button_to "Remove bookmark", book_bookmark_path(@book), method: :delete %>
    <% else %>
      <%= button_to "Add to bookmarks", book_bookmark_path(@book), method: :post %>
    <% end %>

    <div class="card-info">
      <div class="card-tabs">
        <%= render partial: "tabs", locals: { book: @book }%>
      </div>
    </div>
  </div>
</div>
