<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>
    <div class="container">
      <ol class="breadcrumb">
        <%= render_breadcrumbs :separator => ' / ' %>
      </ol>
        <%= render partial: "layouts/flash" %>
        <%= yield %>
    </div>
  </body>
</html>
