<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render partial: 'layouts/navbar' %>
    <div class="container mt-2">
      <% unless current_page?(root_path) %>
        <div class="breadcrumbs">
          <div class="breadcrumbs-inner px-3 py-1">
            <%= render_breadcrumbs :separator => ' / ' %>
          </div>
        </div>
      <% end %>
      <%= render partial: "layouts/flash" %>
      <%= yield %>
    </div>
  </body>
</html>
